body{
    text-align: center;
}
h1{
    font-size: 4rem;
    font-family: candara;
    margin: 0.5rem 0;
}
h3{
    font-size: 2rem;
    font-weight: 100;
    font-family: calisto mt;
    margin: 0.4rem 0;
}

.points{
    display: inline-block;
    border: 3px solid black;
    background-color: rgb(247, 214, 169);
    border-radius: 10px;
    padding:  10px;
    position: relative;
    bottom: 100px;
    margin: 10px;
}
.box{
    display: inline-block;
}
.bunch{
    display: inline-block;
    height: 2cm;
    width: 2cm;
    margin: 8px;
    font-size: 2rem;
    background-color: rgb(0, 192, 245);
    border: 2px solid black;
    border-radius: 5px;
}
.bunch:hover{
    cursor: pointer;
}
.left{
    font-size: 2rem;
    margin: 10px;
    background-color: rgb(248, 219, 28);
    border: 2px solid black;
    border-radius: 5px;
    padding:0.5rem 1rem;
}
.right{
    font-size: 2rem;
    margin: 10px;
    background-color: rgb(248, 219, 28);
    border: 2px solid black;
    border-radius: 5px;
    padding:0.5rem 1rem;
}
.start{
    font-size: 2rem;
    margin: 10px;
    background-color: rgb(248, 219, 28);
    border: 2px solid black;
    border-radius: 5px;
    padding:0.5rem 1rem;
}
.start:hover{
    cursor: pointer;
    background-color: rgb(189, 164, 1);
}
.right:hover{
    cursor: pointer;
    background-color: rgb(189, 164, 1);
}
.left:hover{
    cursor: pointer;
    background-color: rgb(189, 164, 1);
}
.playerA{
    border: 3px solid black;
    background-color: rgb(247, 214, 169);
    margin: 15px;
    border-radius: 10px;
    padding:  10px;
}
.playerB{
    border: 3px solid black;
    background-color: rgb(247, 214, 169);
    margin: 15px;
    border-radius: 10px;
    padding:  10px;
}
.aScore,.bScore{
    font-size: 3rem;
    margin: 0.5rem 1.5rem;
}
.grBg{
    background-color: rgb(35, 250, 2);
    border: 1.5px solid black;
    border-radius: 3px;
}
.shadow{
    box-shadow: 0 4px 3px 0;
    background-color: aqua;
}
.aPlaying{
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(95, 245, 72);
    margin: 3px;
    padding: 3px;
}
.bPlaying{
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(95, 245, 72);
    margin: 3px;
    padding: 3px;
}
.bigShadow{
    box-shadow: 4px 4px 4px 4px rgb(69, 69, 69);
    background-color: rgb(247, 239, 228);
    border: 3px solid black;
}
